{% extends "homebase.html" %}

{% block title %} SSS {% endblock %}
{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ categorydata.icon.url }}'/>
    <script>
            $( function() {
            $( "#accordion" ).accordion();
        } );
    </script>

{% endblock %}

{% block content %}
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Ana Sayfa</a></li>
                <li class="active">Sıkça Sorulan Sorular</li>
            </ul>
        </div>
    </div>
    <section>
        <div class="container">
            <div class="row">
                <div id="accordion">
                    {% for rs in faq %}
                        <h3>{{ rs.question }}</h3>
                        <div>
                            <p>{{ rs.answer }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}