{% extends "homebase.html" %}

{% block title %} Login {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block head %} <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/> {% endblock %}

{% block content %}
    <section id="form" autocomplete="off"><!--form-->
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} col-sm-12" role="alert" align="center">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row" align="center">
                <div class="col-sm-1 col-sm-offset-1">
                </div>
                <div class="col-sm-6 col-sm-offset-1">
                    <div class="login-form"><!--login form-->
                        <h2>Login to your account</h2>
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="text" name="username" placeholder="User Name" autocomplete="new-password"/>
                            <input type="password" name="password" placeholder="Password" autocomplete="new-password"/>
                            <button type="submit" class="btn btn-default">Login</button>
                        </form>
                    </div>
                    <div class="col-sm-2 col-sm-offset-1">
                    </div><!--/login form-->
                </div>
            </div>
        </div>
    </section><!--/form-->
{% endblock %}
	
	
